In [1]:
import pandas as pd

In [2]:
inputCsv = os.path.join(os.path.dirname(__file__),'input.csv')
df = pd.read_csv(inputCsv)

In [3]:
df = df['data'].str.split(pat=" ", expand=True)
df[['minLimit', 'maxLimit']] = df[0].str.split(pat='-', expand=True)
df['minLimit'] = df['minLimit'].astype(int)
df['maxLimit'] = df['maxLimit'].astype(int)
df[['character']] = df[1].str.split(pat=':').str[0]
df.rename(columns={2:'pwd'}, inplace=True)

df.drop([0,1], inplace=True, axis=1)

In [4]:
df

                     pwd  minLimit  maxLimit character
0            mmmmnxmmmwm         9        10         m
1               wpwwhxnv         6         8         w
2              trwpnnnvq         4         6         n
3    zfpmpphpgghpppppppp        12        15         p
4         bqlbzfzzzbzwsz         5        10         z
..                   ...       ...       ...       ...
995         fffffffffsff        11        12         f
996   hwzdfvbpbxzfpjwmzq        11        17         z
997  mxkmnxfbtnmvmtzdqjl         1        11         m
998                 ddjg         3         4         d
999   jnlntbblbbqbkqmbbb        17        18         b

[1000 rows x 4 columns]

## Solution part 1

In [11]:
for ind, row in df.iterrows():
    pwd = row['pwd']
    minLimit = row['minLimit']
    maxLimit = row ['maxLimit']
    character = row['character']

    cnt = pwd.count(character)
    if minLimit <= cnt <= maxLimit:
        df.at[ind, 'valid'] = 1
    else:
        df.at[ind, 'valid'] = 0

In [12]:
df

                     pwd  minLimit  maxLimit character  valid
0            mmmmnxmmmwm         9        10         m    0.0
1               wpwwhxnv         6         8         w    0.0
2              trwpnnnvq         4         6         n    0.0
3    zfpmpphpgghpppppppp        12        15         p    1.0
4         bqlbzfzzzbzwsz         5        10         z    1.0
..                   ...       ...       ...       ...    ...
995         fffffffffsff        11        12         f    1.0
996   hwzdfvbpbxzfpjwmzq        11        17         z    0.0
997  mxkmnxfbtnmvmtzdqjl         1        11         m    1.0
998                 ddjg         3         4         d    0.0
999   jnlntbblbbqbkqmbbb        17        18         b    0.0

[1000 rows x 5 columns]

In [13]:
df[df['valid']==1]

                      pwd  minLimit  maxLimit character  valid
3     zfpmpphpgghpppppppp        12        15         p    1.0
4          bqlbzfzzzbzwsz         5        10         z    1.0
8              lllfllllll         8        10         l    1.0
10             mjmmmmmmmm         2         9         m    1.0
11                   kmmm         3         4         m    1.0
..                    ...       ...       ...       ...    ...
986  nnnntnnvnnnnnnnnnnnn        17        18         n    1.0
990             sssssssrs         1         8         s    1.0
993               xxxxxvx         5         6         x    1.0
995          fffffffffsff        11        12         f    1.0
997   mxkmnxfbtnmvmtzdqjl         1        11         m    1.0

[469 rows x 5 columns]

## Solution part 2

In [40]:
for ind, row in df.iterrows():
    pwd = row['pwd']
    pos1 = row['minLimit'] - 1  # Not 0-based from the game rules
    pos2 = row ['maxLimit'] - 1  # Not 0-based from the game rules
    character = row['character']

    pos1Found = pwd.find(character, pos1, pos1+1) 
    if pos1Found >= 0:
        df.at[ind, 'pos1Found'] = 1
    else:
        df.at[ind, 'pos1Found'] = 0

    pos2Found = pwd.find(character, pos2,  pos2+1)
    if pos2Found >= 0:
        df.at[ind, 'pos2Found'] = 1
    else:
        df.at[ind, 'pos2Found'] = 0

In [41]:
df[(df['pos1Found']+df['pos2Found'])==1]

,pwd,minLimit,maxLimit,character,valid,pos1Found,pos2Found
0,mmmmnxmmmwm,9,10,m,0.0,1.0,0.0
2,trwpnnnvq,4,6,n,0.0,0.0,1.0
4,bqlbzfzzzbzwsz,5,10,z,1.0,1.0,0.0
5,mmkvmwmklnqpmggbgn,7,15,m,0.0,1.0,0.0
10,mjmmmmmmmm,2,9,m,1.0,0.0,1.0
...,...,...,...,...,...,...,...
958,dhhwhhhnhh,5,8,h,1.0,1.0,0.0
975,zwzzzzfzzzzzzzzz,7,16,z,1.0,0.0,1.0
988,hwhhhh,2,4,h,0.0,0.0,1.0
990,sssssssrs,1,8,s,1.0,1.0,0.0
993,xxxxxvx,5,6,x,1.0,1.0,0.0